<div class="addGame">
  <form>
    <section class="col-md-12 gameInputs">
      <input type="text" ng-model="image" placeholder="Image Url">
    </section>
    <section class="col-md-12 gameInputs">
      <input type="text" ng-model="title" placeholder="Game Title">
    </section>
    <section class="col-md-12 gameInputs">
      <input type="text" ng-model="genre" placeholder="Genre">
    </section>
    <section class="col-md-12 gameInputs">
      <input type="text" ng-model="released" placeholder="Year released">
    </section>
    <section class="col-md-12 gameInputs">
      <textarea class="gameSummary" type="text" ng-model="summary" placeholder="Game Summary"/>
    </section>
      <button class="btn btn-primary gameInputs" type="button" name="button" ng-click="addGame()">Add Game</button>
  </form>
</div>
