<div class="container gameDetailPage">
    <div class="gameDetailBox">
        <img class="game-detail-img" src="{{game.img}}" alt="">
        <div class="detailContent">
            <h2>{{game.title}}</h2>
            <p><b>Genre:</b> {{game.genre}}</p>
            <p><b>Year released:</b> {{game.datereleased}}</p>
            <button ng-click="back()" type="button" class="btn btn-info" name="button">Back</button>
            <p class="gameSummary">{{game.summary}}</p>
            <button type="button" class="btn btn-success" ng-click="like(game.id)" name="button">Like: {{game.likes}}</button>
            <button type="button" class="btn btn-warning" ng-click="dislike(game.id)" name="button">Dislike: {{game.dislikes}}</button>
            <div class="comments">
                <h4>Comments</h4>
                <div class="fb-comments" data-href="{{stateToPost}}" data-numposts="5"></div>
            </div>
        </div>
    </div>
</div>
