<div class="container gameDetailPage">
    <div class="gameDetailBox">
        <img class="game-detail-img" src="{{game.img}}" alt="">
        <div class="detailContent">
            <h2>{{game.title}}</h2>
            <p><b>Genre:</b> {{game.genre}}</p>
            <p><b>Year released:</b> {{game.datereleased}}</p>
            <button ui-sref="games" type="button" class="btn btn-info" name="button">Back</button>
            <p class="gameSummary">{{game.summary}}</p>
            <h4 class="likes" style="width: 25%; padding: 1%">Likes: {{game.likes}}</h4>
            <h4 class="dislikes" style="width: 25%; padding: 1%">Dislikes: {{game.dislikes}}</h4>
            <section class="marg-top">
              <button class="btn btn-danger" type="button" name="button" ng-click="removeGame(game.id)">Remove Game</button>
            </section>

            <div class="comments">
              <h4>Comments</h4>
              <div class="fb-comments" data-href="{{stateToPost}}" data-numposts="5"></div>
            </div>
        </div>
    </div>

</div>
