.friendImg {
  height: 100px;
}
.friendPage {
  overflow: auto;
  width: 80%;
  margin: 30px auto;
}
.friendName {
  font-size: 25px;
  vertical-align: bottom;
}
.friendDiv {
  margin: 1% 0;
}
.friendDiv > a {
  color: black;
  text-decoration: none;
}
