.gamesPage {
  overflow: auto;
}
.gameSearch {
  margin-bottom: 3%;
}
.game-box {
  margin: 2% 2% 2% 3%;
  border: 1px solid black;
  padding: 2%;
  width: 28%;
  height: 560px;
}
.game-box>a {
  color: black;
  text-decoration: none;
}
.game-img {
  height: 300px;
  width: 100%;
}
.game-detail-img {
  width: 25%;
}
.searchForms {
  width: 80%;
}
.searchForms input {
  width: 20%;
  float: left
}
.gameDetailPage {
  text-align: center;
  padding: 0 10%;
}
.gameDetailBox {
  border: 1px solid black;
  padding: 3%;
}
.detailContent {
  text-align: left;
}


form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.loginAcct {
  text-align: center;
}
input {
  margin: 1%;
}
.likes {
  background-color: #5CB85C;
  width: 50%;
}
.dislikes {
  background-color: #F0AD4E;
  width: 50%;
}
.gameSummary {
  min-height: 200px;
  margin-top: 25px;
  min-width: 100%;
}


/************* ADD GAME *************/
.addGame {
  margin: 0 auto;
  width: 50%;
}
.gameInputs {
  margin-top: 15px;
}
.gameInputs > input {
  width: 75%;
}
.marg-top {
  margin-top: 15px;
}
